
body{
    background-color: #f6f5f5;
    margin: 0;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
section{
    width: 100%;
    height: 95vh;
    background-image: url('pexels-photo-1445416.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    padding: 0px 5%;
}
nav ul{
    display: flex ;
}
nav ul li a{
    margin:30px;
    font-family: myraid pro regular;
    color:#505050;
    font-size: 15px;
    font-weight: 700;
}
.logo{
    font-family: RoadTest;
    color: #000000;
    font-size: 22px;
}
.active{
   font-weight:bold;
   color: #2e9e93; 
}
.text-container p:nth-child(1){
    font-family: calibri;
    font-weight: bold;
    color: #6d6d6d;
    font-size: 60px;
    padding-bottom: 1rem;
}
.text-container p:nth-child(2){
    font-family: calibri;
    font-weight: bold;
    letter-spacing: 1px;
    color: #1a1a1a;
    font-size: 60px;
}
.text-container p:nth-child(3){
    font-family: myrid pro regular;
    color: #403e3e;
    font-size: 30px;
    line-height: 30px;
}
.text-container p{
    line-height: 0px;
    margin: 45px 0px 25px;
}
.line{
    width: 150px;
    height: 4px;
    background: #000000;
    margin: 10px auto;
    border-radius: 5px;
}
.text-container{
    position: absolute;
    left: 13%;
    top:42%;
    transform: translate(-13%, 42%);
}
.text-container button{
    width:130px;
    height: 42px;
    border-radius: 10px;
    font-family: calibri;
    font-weight: bold;
    font-size: 14px;
    outline:none;
    margin:0px 10px;
}
.abtme{
    border:2px solid #373636;
    color: #373636;
}
.down-cv{
    background-color: #0b0b0b;
    color: #FFFFFF;
    border: none;
}
button:active{
    transform:scale(1.1);
}

.about-container{
    width: 80%;
    height:330px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 2px 12px rgba(0,0,0,0.2);
    display:flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}
.about-container img{
    height: 250px;
    margin-left: 5px;
}

.about-text{
    width: 550px;
    margin-left: 5px;;
    
}
.about-text p:nth-child(1){
    color: #403e3e;
    font-family: myriad pro;
    font-weight: bold;
    font-size: 30px;
    line-height: 0px;
}
.about-text p:nth-child(2){
    color: #3e3d3d;
    font-size: 30px;
    font-family: myriad pro;
    font-weight: bold;
    line-height: 5px;
}
.about-text p:nth-child(3),
.about-text p:nth-child(4){
    color: #7e7d7d;
    font-size: 20pxpx;
    font-family: calibri;
    line-height: 16px;
}
.about-text button{
    width:120px;
    height:40px;
    color: #FFFFFF;
    outline: none;
    border:none;
    font-family: calibri;
    background-color: #262525;
}
.skills-text p:nth-child(1){
	font-family: calibri;
	font-weight:bold;
	color:#1d1c1c;
	font-size:30px;
	line-height:0px;
}
.skills-text{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;;
	width: 500px;
    display: flex;
}
.column 
{
    flex: 50%;
    /* padding: 5px 10px 10px; */
    justify-content: space-between;
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 15px;
    font-size: 5rem;
}
.column img 
{
    float: left;
    width:  100px;
    height: 100px;
    object-fit: cover;
}
.box-container{
	display:flex;
	justify-content: space-around;
    padding: 1rem;
}
.box-1,.box-2,.box-3{
	width: 300px;
	height:320px;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow:2px 2px 18px rgba(0,0,0,0.3);
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	margin: 0px 20px;
}
.box-1 span,
.box-2 span,
.box-3 span{
	width:30px;
	height:30px;
	border-radius:50%;
	background-color:#ffffff;
	display: flex;
	justify-content: center;
	align-items:center;
	font-family: calibri;
	font-weight: bold;
}
.box-1 p:nth-child(2),
.box-2 p:nth-child(2),
.box-3 p:nth-child(2){
	color:#979797;
	font-family: calibri;
	font-size: 23px;
	line-height:0px;
  
}
.box-1 p:nth-child(3),
.box-2 p:nth-child(3),
.box-3 p:nth-child(3){
	font-family: calibri;
	color:#8F8F8F;
	text-align:center;
	width: 230px;
	margin:0px 0px 20px 0px;

}
.box-1 button,
.box-2 button,
.box-3 button{
	width:100px;
	height:30px;
	background-color:#FFFFFF;
	border:none;
	outline: none;
	border-radius:5px;
}
footer{
    background-color: #9eb3ae;
    height: 220px;
    width: 100%;
    min-height: 5rem;
    margin: auto;
    padding-top: 1%;
}
.place{
    padding-left: 1rem;
    
}

.social-icons a{
    width:40px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#e6e3e3;
    margin:20px 10px;
    border-radius:50%;
}
.social-icons{
    display: flex;
    justify-content: center;
}

.social-icons i,.social i{
    color:#000000;
}
.social-icons a:hover{
    background-color:#000000;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    transition:all ease 0.5s;
}
.social-icons a:hover i,
.social a:hover i{
    color:#FFFFFF;
    transition:all ease 0.5s;
} 
